@page "/ciphers"

<h1>Ciphers</h1>
<select @bind="@selectedCipherId" class="form-control col-md-4 mb-4">
    @foreach (var cipher in ciphers)
    {
        <option value="@cipher.Id">@cipher.NameOfCipher</option>
    }
</select>

@switch (selectedCipherId)
{
    case 1:
        <CeasarCipher></CeasarCipher>
        break;    
    default:
        <p>Please select cipher</p>
        break;
}
@code {

    readonly List<CipherModel> ciphers = new List<CipherModel>
{
        new CipherModel(1, "Ceasar Cipher")
    };

    int selectedCipherId;

}
