@page "/interpreter"

<h1>CodeInterpreter</h1>

<div>
    <div class="row" style="height: 600px;">
        <div class="col-6 h-100">
            <textarea @bind="_markdownCode" @bind:event="oninput" class="form-control h-100"></textarea>
        </div>

        <div class="col-6 h-100">
            @((MarkupString)@Markdig.Markdown.ToHtml(_markdownCode))
        </div>

    </div>

</div>
@code {
    string _markdownCode = string.Empty;
}
