@page "/converters"

<h1>Converters</h1>
<select @bind="@selectedConverterId" class="form-control col-md-4 mb-4">
    @foreach (var converter in converters)
    {
        <option value="@converter.Id">@converter.NameOfCOnverter</option>
    }
</select>

@switch (selectedConverterId)
{
    case 1:
        <TimeConverter></TimeConverter>
        break;
    case 2:
        <DistanceConverter></DistanceConverter>
        break;
    case 3:
        <CurrencyConverter></CurrencyConverter>
        break;
    default:
        <p>Please select converter</p>
        break;
}

@code {    

    readonly List<ConverterModel> converters = new List<ConverterModel>
{
        new ConverterModel(1, "Time converter"),
        new ConverterModel(2, "Distance converter"),
        new ConverterModel(3, "Currency converter")
    };

    int selectedConverterId;

}
